* {
  font-family: 'Inter', sans-serif;
}
h1 {
  font-size: 2.0rem;
}
h2 {
  font-size: 1.6rem;
}
h3 {
  font-size: 1.4rem;
}
h4 {
  font-size: 1.3rem;
}
h5 {
  font-size: 1.1rem;
}
.font-awal {
  font-size: 18px;
}
.bg-form {
  background-color: #ADD0FF;
}
.bg-faq {
  background-color: #549DFF;
}
.bg-aduan {
  background-color: #ADD0FF;
}
.bg-prosedur {
  background-color: #1976D2;
}
.bg-footer{
  background-color: #7DB4FF;
}
.btn-blue {
  background-color: #7DB4FF;
}
.btn-blue:hover {
  background-color: #6c9cdf;
}
.activenav {
  font-weight: 800;
  color: black;
  border-bottom: 1px solid #000;
  padding-bottom: 1px;
  max-width: 150px;
}
.btn-cancel {
  margin-left: 5px;
}

@media only screen and (min-width: 360px) and (max-width: 768px) {
  .btn-cancel {
    margin-left: 0;
  }
}